@superPaleColor: #f4f4f4;
@paleColor: #b4b3b3;
@mutedColor: gray;
@errorColor: #c73333;

body {
  max-width: 940px;
  margin: 0 auto;
}

.upload-error() {
  &, .message {
    color: @errorColor;
  }

  progress {
    .simple-progress(@superPaleColor, @errorColor);
  }
}

ul.uploads {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;

  column-width: 15em;
  -moz-column-width: 15em;
  -webkit-column-width: 15em;
  column-gap: .5em;
  -moz-column-gap: .5em;
  -webkit-column-gap: .5em;

  &>li {
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 5em;
    border: 1px solid @superPaleColor;
    padding: .5em;
    transition: opacity .5s;

    a {
      float: right;
      margin-left: .5em;
      font-size: .8em;
      line-height: 1.25em;
      text-decoration: none;
    }

    h3 {
      font: inherit;
      line-height: 1;
      margin: 0;
      padding: 0 0 .5em;
    }

    .status {
      color: @mutedColor;

      * {
        font-size: .8em;
        line-height: 1.25;
      }

      .message {
        display: block;
        padding-top: .5em;
      }
    }

    &.deleting {
      opacity: .3;
      progress, .retry, .delete, .text, .size { display: none; }
    }
    &.must-reselect {
      .upload-error();
      .size, .retry { display: none; }
    }
    &.error {
      .upload-error();
      .size { display: none; }
    }
    &.uploading {
      .size, .retry { display: none; }
    }
    &.waiting, &.uploaded {
      progress, .retry, .text { display: none; }
    }
  }
}

// Makes a progress bar have foreground and background colors
.simple-progress(@backgroundColor, @barColor) {
  // Reset progressbar styles. See http://www.useragentman.com/blog/2012/01/03/cross-browser-html5-progress-bars-in-depth/
  &, &[role] {
    /* gets rid of default border in Firefox and Opera. */ 
    border: none;
  }
  &[role]:after {
    background-image: none; /* removes default background from polyfill */
  }
  &[role] strong {
    display: none; /* Ensure fallback text doesn't appear in polyfill */
  }

  &,                          /* Firefox  */ 
  &[role][aria-valuenow],     /* Polyfill */
  &::-webkit-progress-bar {   /* Chrome */
   background: @backgroundColor !important; /* !important is needed by the polyfill */
  }

  & { /* IE10 */
    color: @barColor;
  }
  &::-moz-progress-bar {      /* Firefox */
    border-radius: .2em;
    background: @barColor;
  }
  &::-webkit-progress-value { /* Chrome */
    border-radius: .2em;
    background: @barColor;
  }
  &[aria-valuenow]:before {  /* Polyfill */
    border-radius: .2em;
    background: @barColor;
  }
}

/* Now, regular progress style for this page */
progress {
  .simple-progress(@superPaleColor, @paleColor);

  display: inline-block;
  width: 30%;
  max-width: 15em;
  height: .4em;
  vertical-align: middle;
  box-sizing: border-box;
  border-radius: .2em;
  overflow: hidden;
  border: 1px solid @superPaleColor;
}

.transition-duration(@value) {
  -webkit-transition-duration: @value;
  transition-duration: @value;
}

.transform(@value) {
  -webkit-transform: @value;
  transform: @value;
}

.progress-with-preamble-and-error() {
  .transition-duration(.5s);
  overflow: hidden;
  height: 0;
  opacity: 0;
  max-width: 50em;

  .preamble {
    float: left;
    margin-right: 1em;
  }
  .error {
    color: @errorColor;
    float: right;
    opacity: 0;
    margin-left: 1em;

    a {
      font-size: .8em;
      line-height: 1.25em;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .progress {
    text-align: center;
    font-size: .7em;
    color: @mutedColor;
  }

  progress {
    max-width: none;
    width: auto;
    display: block;
  }
}

.mass-upload {
  .list-files-progress {
    .progress-with-preamble-and-error();
  }
  &[data-status="listing-files"] .list-files-progress,
  &[data-status="listing-files-error"] .list-files-progress {
    height: 1.5em;
    opacity: 1;
  }
  &[data-status="listing-files-error"] .list-files-progress .error {
    width: auto;
    opacity: 1;
  }

  .upload-progress {
    .progress-with-preamble-and-error();
  }
  &[data-status="uploading"] .upload-progress,
  &[data-status="uploading-error"] .upload-progress,
  &[data-status="waiting-error"] .upload-progress,
  &[data-status="waiting"] .upload-progress {
    height: 2em;
    opacity: 1;
  }
  &[data-status="uploading-error"] .upload-progress .error {
    width: auto;
    opacity: 1;
  }

  .upload-collection {
    display: none;
    margin-bottom: 1em;
    position: relative;
    padding-bottom: 8em; // for upload prompt

    .upload-prompt {
      position: absolute;
      left: 1em;
      right: 1em;
      bottom: 0;
      height: 8em;

      button, .invisible-file-input {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }

      .invisible-file-input {
        opacity: 0;
      }
    }
  }
  &[data-status="uploading"] .upload-collection,
  &[data-status="uploading-error"] .upload-collection,
  &[data-status="waiting-error"] .upload-collection,
  &[data-status="waiting"] .upload-collection {
    display: block;
  }
}
